<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/style.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  </head>
  <body>
    <div class="container">
      <header>
        <a href="/"><h1>NgeTrip YuK!!</h1></a>
        <nav>
          <div class="sign-btn">
            <a href="">login</a> |
            <a href="">Register</a>
          </div>

          <div class="form">
            <form class="example" action="">
              <input type="text" placeholder="Search.." name="search">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
        </nav>
      </header>

      <section>
        <div class="crumbs">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="/">Trips</a></li>
                <li class="active">Vacation</li>        
              </ul>
        </div>
        <article>
            <h2><%= detail.trip_name%></h2>
            <p><%= detail.itinerary %></p>      
            <div class="User">
              <h5><%= detail.Users[0].name %></h5>
            </div>    
        </article>
         
        <div class="comment-box">
          <div class="comment">
          </div>
          
          <div class="comment-form">
            <form action='/trips/<%= detail.id%>/detail' method="POST">
              <input type="hidden" name="idcomment" value="<%= detail.id%>">
              <label for="usrnm">Nama : </label>
                <input type="text" name="commentator" id="usr">
                <div class="form-group">
                  <label for="comment">Comment:</label>
                  <textarea class="form-control" rows="5" id="comment"></textarea>
                </div>
                <input class="btn btn-primary" type="submit" value="Send">
            </form>
          </div>
        </div>
      </section>
      <footer>
      </footer>
    </div>

    <!-- JQuery, popper, and bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
